/*App.css is great for global styling like background images: */

body{
  background-image: url("../public/GOT.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
}